# Add any directories, files, or patterns you don't want to be tracked by version control
Temp/
.idea/
obj/
Library/
Assembly-CSharp.csproj
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor.csproj
.vs/
.vscode/
